@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --accent: rgb(216, 66, 73);
    --accenthover: rgb(153, 47, 52);
    --dark: #304659;
    --dark80: rgba(48,70.89,.8);
    --dark60: rgba(48,70,89,.6);
    --light: #F5F9FC;
    --transition: all 0.3s ease 0s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    background:
        linear-gradient(
            var(--dark60),
            var(--dark60)
        ),
        url(assets/img/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

a, button {
    font-family: "Lato", sans-serif;
    color: var(--light);
    text-decoration: none;
}

a, button, .logo {
    cursor:pointer;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
}

header {
    grid-column: 2 / span 6;
}

nav {
    display: flex;
    align-items: center;
    height: 100px;
}

.links{
    margin-left: auto;
}

.links a, .links button {
    font-size: 17px;
    font-weight: 400;
    transition: var(--transition);
}

.links a {
    margin-right: 50px;
}

.links a:hover {
    color: var(--accent);
}
/* buat BUTTON TAPI GA KEPAKE
.button__log {
    border: none;
    background-color: var(--accent);
    padding: 8px 25px;
    transition: var(--transition);
}

.button__log:hover {
    background-color: var(--accenthover);
}

AKHIR BUTTON */